<footer>
    <div class="bg-rd">
        <div class="container mt-3">
            <div class="row ">
                <div class="col-sm-4 mt-5">
                    <h3 class="footer-title">
                        Liên hệ với chúng tôi
                    </h3>
                    <ul class="contact">
                        <li>
                            <i class="far fa-envelope"></i>
                            <span>kltn@gmail.com</span>
                        </li>
                        <li>
                            <i class="fa fa-map"></i>
                            <span>kltn@gmail.com</span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>kltn@gmail.com</span>
                        </li>
                        <li>
                            <i class="fab fa-facebook-f"></i>
                            <span>kltn@gmail.com</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 mt-5">
                    <h3 class="footer-title">
                        Liên hệ với chúng tôi
                    </h3>
                    <ul class="contact">
                        <li>
                            <span>Về Việc Làm Tốt</span>
                        </li>
                        <li>
                            <span>Về Việc Làm Tốt</span>
                        </li>
                        <li>
                            <span>Về Việc Làm Tốt</span>
                        </li>
                        <li>
                            <span>Về Việc Làm Tốt</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 mt-5">
                    <h3 class="footer-title">liên kết</h3>
                    <div class="social">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
