
<header>
    <!-- MENU MAIN -->
    <div class="bg-main">
        <div class="container">
            <div class="top-header">
                <div class="logo">
                    <a href="">FindJob</a>
                </div>
                <ul class="menu-main ">
                    <li>
                        <a href="">
                            <i class="fa fa-home"></i>
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-shopping-bag"></i>
                            việc làm
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-building"></i>
                            công ty
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-cart-plus"></i>
                            việc làm đã lưu
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-user-circle"></i>
                            tài khoản
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bot-header">
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 600px;" placeholder="Tìm việc">
                    <i class="fa fa-search"></i>
                </div>
                <div class="btn-login mb-3">
                    <i class="fa fa-user"></i>
                    Đăng nhập
                </div>
                <div class="btn-post mb-3">
                    <i class="fa fa-pencil"></i>
                    Đăng tuyển
                </div>
            </div>
        </div>
    </div>
    <!-- end menu main -->
</header>